<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4 mb-3">
        <img src="{{ `images/1p_ca_imaging.jpg` | relURL }}" width="320" height="240" alt="1 photon Ca imaging"/>
    </div>
    <div class="col-lg-4">
        <iframe src="https://drive.google.com/file/d/1TVjdUv_HEAbZsRXF5f2LSa8ZbXyZOrhE/preview" width="320" height="240" allow="autoplay"></iframe>
    </div>
    <div class="col-lg-4">
        <iframe src="https://drive.google.com/file/d/13jNFF4K_2KyAqokdoqqKzQcx22nyeZ6U/preview" width="320" height="240" allow="autoplay"></iframe>
    </div>
    <div class="col-lg-4">
        <iframe src="https://drive.google.com/file/d/1HJsX2dRqZix-tY66S4SRmPBuwiyTbOki/preview" width="320" height="240" allow="autoplay"></iframe>
    </div>
    <div class="col-lg-4">
        <iframe src="https://drive.google.com/file/d/1YSOj7o7yXGLFi3H8Snx9e0Um9eA2L6G4/preview" width="320" height="240" allow="autoplay"></iframe>
    </div>
</div>
