{{ define "main" }}

<section class="section bd-masthead position-relative" style="background-image: url('{{ `images/home_bg.png` | relURL }}');">
  <div class="container-xxl">
    <div class="col-md-9 mx-auto text-center position-relative">
      <img id="brain" class="d-block ms-auto" src="{{ `images/brain.png` | relURL }}" alt="Brain">
      <h1 class="display-4 fw-semibold mb-3 position-absolute top-0 start-0 text-white">{{ .Site.Title }}</h1>
      {{ with .Site.GetPage "/database" }}
        {{ with .Pages.ByWeight.Reverse.ByDate.Reverse }}
          {{ with index . 0 }}
            <a class="btn btn-bd-primary btn-lg px-4 mb-2" href="{{ .RelPermalink }}" role="button">Download Latest Data</a>
            <p class="opacity-50">{{ .Title }}</p>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<section class="section container">
  {{ partial (printf "description.%s.html" .Lang) . }}
</section>

<section class="section container mb-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section>

{{ end }}