{{ define "main" }}

<div class="container py-3">

    {{ if or .Site.Params.options.listCategoryFilter .Site.Params.options.listTagFilter }}
        <div class="row mb-3">

            {{ if .Site.Params.options.listCategoryFilter }}
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#folder` | relURL }}"/></svg>
                    {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByTitle }}
                        <a class="badge text-bg-light nav-link" href="{{.RelPermalink}}">{{.Title}}</a>&nbsp;
                    {{end}}
                </div>
            {{ end }}

            {{ if .Site.Params.options.listTagFilter }}
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="feather me-2"><use href="{{ `images/feather/feather-sprite.svg#tag` | relURL }}"/></svg>
                    {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages.ByTitle }}
                        <a class="badge text-bg-light nav-link" href="{{.RelPermalink}}">{{.Title}}</a>&nbsp;
                    {{end}}
                </div>
            {{ end }}

        </div>
    {{ end }}

    {{ if ne .Kind "taxonomy" }}

        {{ range .Pages }}
        <div class="card border-light-subtle mb-3">
            <div class="row g-0">

                <div class="col-md-12">
                    <div class="card-body">
                        {{ partial "tutorial-list-item.html" . }}
                    </div>
                </div>

            </div>
        </div>
        {{ end }}

    {{ end }}

</div>
{{ end }}